{% load static %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="/">Me &amp; Family</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="active" href="/">Anasayfa</a></li>
                <li><a href="/hakkimizda">Bizim Hikayemiz</a></li>
                <li><a href="/contents">Etkinlikler</a></li>
                <li><a href="/gallery.html">Galeri</a></li>
                <li class="dropdown"><a href="#"><span>Kategoriler</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        {% load mptt_tags %}

                        {% recursetree category %}
                            <li {% if not node.is_leaf_node %} class="dropdown" {% endif %} ><a href="/category/{{ node.id }}/{{ node.slug }}"><span>{{ node.title }}</span> {% if not node.is_leaf_node %} <i class="bi bi-chevron-right"> </i> {% endif %} </a>

                                {% if not node.is_leaf_node %}
                                    <ul>
                                <li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ children }}</a></li>

                                    </ul>
                                {% endif %}
                            </li>
                        {% endrecursetree %}
                    </ul>
                </li>
                <li><a href="/iletisim">İletişim</a></li>
                <li><a href="/referanslar">Referanslar</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->